body {
  color: #d6d5cb;
  font-family: Robot Normal;
  color: #ac3b61;
}
@font-face {
  font-family: Robot;
  src: url(../../roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: Robot Thick;
  src: url(../../roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Robot Normal;
  src: url(../../roboto/Roboto-Regular.ttf);
}
