body {
  margin: 0;
  padding: 0;
}

.mainFooter {
  margin: 0;
  padding-left: 150px;
  padding-right: 400px;
  background-color: #f6f6f2;
  color: grey;
  height: 15vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.mainFooter p {
  margin: 0;
  font-family: Robot Normal;
  text-align: left;
}
.padTop {
  padding-top: 50px;
}
img {
  padding-left: 30px;
}
