body {
  margin: 0;
  padding: 0;
}

.mainHome {
  background-color: #eee2dc;
  background-size: cover;
  height: 100vh;
  color: #ac3b61;
}
.mainHome p {
  margin: 0;
  font-size: 75px;
  text-align: center;
}
.select {
  user-select: none;
}
.thick {
  font-family: Robot Thick;
}
.resume {
  margin-left: 15vw;
  padding-top: 5vh;
}
.resume2 {
  margin-left: 60vw;
}
.resume p {
  font-family: Robot Normal;
  font-size: 30px;
}
.resume a {
  float: left;
  text-decoration: none;
  color: #123c69;
}
.menuImg {
  height: 50px;
  float: left;
  margin-top: 100px;
  margin-left: 75px;
}
.down {
  height: 5vh;
  position: absolute;
  height: 50 vh;
  left: 47vw;
}
