.projectCard {
  background-color: black;
  height: 250px;
  width: 500px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform 0.5s ease-in-out;
}
.projectCard h1 {
  text-align: left;
  padding-left: 30px;
  font-size: 35px;
  padding-bottom: 0;
}
.projectCard p {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-family: Robot Normal;
}
.projectCard:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
img {
  position: relative;
  bottom: 40px;
  right: 40px;
  float: right;
  height: 30px;
}
