body {
  margin: 0;
  padding: 0;
}

.mainSkills {
  margin: 0;
  background-color: #edc7b7;
  height: 80vh;
  color: #003b4a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.mainSkills h1,
h3 {
  margin: 0;
  padding-top: 55px;
  font-size: 60px;
  text-align: center;
  padding-bottom: 50px;
  color: #ac3b61;
}
.mainSkills h3 {
  padding-top: 30px;
  font-size: 30px;
}
.seperate {
  padding-bottom: 70px;
  display: flex;
}

.oneSkill {
  margin: 0;
  margin-left: 5vw;
}
